<h1>Informacion de cada usuario</h1>
 
{{#if isAdmin}}
    {{#each users}}
        <div>
            <ul> 
                <li>Nombre: "{{full_Name}}"</li>
                <li>Email: "{{email}}"</li>
                <li>Rol: "{{rol}}"</li>
                <a href="/get-users-specific/{{uid}}">Ver detalles del usuario</a>
            </ul>

            <ul>
                <button onclick="changeRole(`{{uid}}`)">Cambiar de rol</button>
                <button onclick="deleteUserJs(`{{uid}}`)">Eliminar usuario</button>
            </ul>
        </div>
        <br> <br>
    {{/each}}
{{else}}
    <p>lo lamentamos, no estas autorizado para ver todos los usuarios</p>
{{/if}}

<script src="/js/index.js"></script>