<div>
    <h1>Productos:</h1> 

    <ul>
        {{#each product.docs}}
        <li>
            <p><b>{{this.title}}</b></p>
            <p>Precio: ${{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
        </li>
        <br> <br> <br>
        {{/each}}
    </ul>

    <div>
        {{#if product.hasPrevPage}}
        <a href="/?page={{product.prevPage}}">Anterior</a>
        {{/if}}
        <span>Página {{product.page}} de {{product.totalPages}}</span>
        {{#if product.hasNextPage}}
        <a href="/?page={{product.nextPage}}">Siguiente</a>
        {{/if}}
    </div>

</div>

{{!-- <div>
    <div>
        <h1>Productos sin actualizar</h1>
    </div>

    <div>
        <ul>
            {{#each product}}
            <li>
                <p>Title: {{title}}</p>
                <p>Price: ${{price}}</p>
                <p>Description: {{description}}</p>
                <p>Stock: {{stock}}</p>
            </li>
            {{/each}}
        </ul>
    </div>

</div> --}}