<div>
    <h3>
        Bienvenido {{fullNameUser}}, gracias por visitarnos 
    </h3>
</div>
<h1>Lista de Productos</h1>
<br/>
{{#if totalDocs}}
    {{#each payload}}
        <ul>
            <li> {{this.title}} - Precio: {{this.price}}</li>
            <a href="/products/{{this._id}}">Ver detalle</a>
        </ul>
    {{/each}}
    <div>
        {{#if hasPrevPage}}
            <a href={{prevLink}}> << Anterior</a>
        {{/if}}
        {{this.page}}
        {{#if hasNextPage}}
            <a href={{nextLink}}>Siguiente >></a>
        {{/if}}
    </div>
{{else}}
    <p>No hay productos</p>
{{/if}}

<script src="/js/index.js"></script>

<script src="/socket.io/socket.io.js"></script>